* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

/* ________________________________________________________ */

.header__top {
  padding-top: 63px;
  padding-bottom: 164px;
  background: #F4F6F9;
  padding-left: 163px;
  width: 100%;
  background-image: url(../img/back_header_pic.png);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: auto 100%;
}
.header__top-left {
  display: flex;
  flex-direction: column;
  width: 546px;
}
.header__top-logo {
  margin-bottom: 133px;
}
.header__top-title {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  color: #333333;
  margin-bottom: 30px;
}
.header__top-description {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #4F4F4F;
  padding-right: 80px;
  margin-bottom: 56px;
}
.header__top-marketLinks {
  display: flex;
}
.appstore__link {
  margin-right: 36px;
}

/* __________________________________________________________ */

.features {
  padding-top: 76px;
  padding-bottom: 66px;
  background: url(../img/features_back.svg) top left / cover;
  /* height: 735px; */
}
.wrapper {
  max-width: 1120px;
  margin: 0 auto;
}
.features__title {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  color: #FFFFFF;
  margin-bottom: 58px;
  text-align: center;
}
.features__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.features__item {
  width: 311px;
  margin-bottom: 40px;
}
.features__item-pic {
  padding-bottom: 16px;
}
.features__item-text {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #FFFFFF;
}

/* ____________________________________________________________ */

.userInterface {
  padding-top: 217px;
  padding-bottom: 171px;
  background: url(../img/user_interf_back.png) center right / cover;
}
.userInterface__content {
  max-width: 480px;
}
.userInterface__toptext {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #00ADEE;
  margin-bottom: 27px;
}
.userInterface__title {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  color: #333333;
  margin-bottom: 27px;
}
.userInterface__description {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #4F4F4F;
  margin-bottom: 54px;
}
.userInterface__link {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #00ADEE;
}

/* ___________________________________________________________ */

.usersSay {
  padding-top: 68px;
  padding-bottom: 60px;
  background: #FFFFFF;
  position: relative;
}
.usersSay__title {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  color: #333333;
  text-align: center;
  margin-bottom: 63px;
}
.usersSay__wrapper {
  /* width: 100%; */
  max-width: 1100px;
  margin: 0 auto;
  /* display: flex; */
}
.usersSay__leftContainer {
  position: absolute;
  width: 300px;
  top: 0; bottom: 0; left: 0;
  /* right: 95%; */
  z-index: 2;
  background-image: linear-gradient(90deg, #FFFFFF 49.84%, rgba(255, 255, 255, 0) 126.7%);;
  pointer-events: none;
}
.usersSay__rightContainer {
  position: absolute;
  width: 300px;
  top: 0;bottom: 0; right: 0;
  /* left: 95%; */
  z-index: 2;
  background-image: linear-gradient(270deg, #FFFFFF 49.84%, rgba(255, 255, 255, 0) 126.7%);;
  pointer-events: none;
}
.slide__item {
  width: 309px;
  padding: 15px 17px;
  border: 1px solid #828282;
  border-radius: 4px;
}
.slide__item-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}
.slide__item-name {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #333333;
}
.slide__item-comment {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #4F4F4F;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow__button-left,
.arrow__button-right {
  flex-shrink: 0;
  width: 47px;
  height: 47px;
  border-radius: 50%;
  border: 1px solid #00ADEE;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  background: #FFFFFF;

}
.arrow__button-leftPic,
.arrow__button-rightPic {
  margin: 17px auto;
}
.usersSay__pagination {
  text-align: center;
  padding-top: 47px;
}
.usersSay__pagination span {
  margin-right: 10px;
}
.swiper-container {
  z-index: initial !important;
}
.swiper-button-next {
  right: 100px !important;
}
.swiper-button-prev {
  left: 100px !important;
}
.swiper-pagination-bullet-active {
  background-color: #828282 !important;
}

/* ____________________________________________________________ */

.featuredIn {
  padding-top: 57px;
  padding-bottom: 82px;
  background: #FAFAFA;
}
.featuredIn__title {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  color: #333333;
  margin-bottom: 58px;
  text-align: center;
}
.featuredIn__content {
  display: flex;
  justify-content: space-between;
}

/* ___________________________________________________________________ */

.getUpClose {
  padding-top: 105px;
  padding-bottom: 102px;
  background-image: url(../img/getupclose_back.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: auto 100%;
}
.getUpClose__content {
  display: flex;
  justify-content: center;
}
.getUpClose__left {
  width: 50%;
}
.getUpClose__right {
  max-width: 530px;
}
.getUpClose__title {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  color: #333333;
  margin-bottom: 35px;
}
.getUpClose__description {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #4F4F4F;
  margin-bottom: 38px;
}
.getUpClose__links {
  display: flex;
}

/* _____________________________________________________________ */

.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #00ADEE;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .footer__logo-pic {
  text-align: left;
} */
.footer__menu-link {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #FFFFFF;
  margin-right: 37px;
}
.footer__social {
  display: flex;
}
.social__link-container {
  width: 25px;
  height: 25px;
  background: #FFFFFF;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social__link {
  margin-right: 17px;
}
/* .social__link-pic {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
} */
